.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 20px;
}

.landing > p {
    text-align: left;
}

.landing > h1 {
    font-size: 3.5vh;
    font-family: "VALORANT";
    margin: 0;
}